<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Flack, a Flask messaging system</title>

    </head>

    <body>
      <!-- Navbar -->
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark border">
         <a class="navbar-brand" href="/"><span>Flack</span></a>
         <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbar" data-toggle="collapse" type="button">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse">
             <ul class="navbar-nav ml-auto mt-2">
                 <li class="nav-link text-light"></li>
                 <li class="nav-item"><a class="nav-link">Logout</a></li>
             </ul>
         </div>
     </nav>
    </body>
</html>
