<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Flack, a Flask messaging system</title>

    </head>

    <body>
      <!-- Navbar -->
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark border">
         <a class="navbar-brand" href="/"><span class="text-white">Flack</span></a>
         <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
             <span class="navbar-toggler-icon">o</span>
         </button>

         <div class="collapse navbar-collapse">
             <ul class="navbar-nav ml-auto mt-2">
                 <li class="nav-link text-light" id="welcome"></li>
                 <li class="nav-item" id="logoutLink"><a class="nav-link">Logout</a></li>
             </ul>
         </div>
     </nav>

     <!-- Alert -->
           <div class="alert alert-danger fade show" id="alertSystem" role="alert">
               <p id="alertMessage"></p>
           </div>
     <!-- Actual layout -->
     <div class="container-fluid">
         <div class="row">
             <!-- Left Side bar -->
             <nav class="col-md-4 bg-light sidebar">
                 <h2>Channels</h2>
                 <div id="channelList" class="list-group">
                 </div>
                 <div class="mt-2 input-group mw-100">
                     <input id="channelName" class="form-control" autocomplete="off" placeholder="Add channel"/>
                     <div class="input-group-append">
                         <button id="submitChannel" type="button" class="btn btn-primary">Add</button>
                     </div>
                 </div>
             </nav>
             <!-- Chat contents -->
             <main class="col-md-8" id="mainContent">
                   <div id="messagesList" class="list-group"></div>
                   <div class="input-group mt-2" id="messageInput">
                        <input id="chatInput" class="form-control" autocomplete="off"/>
                        <div class="input-group-append">
                            <button id="sendButton" type="button" class="btn btn-primary">Send</button>
                        </div>
                   </div>
              </main>
            </div>
        </div>
     <!-- Pop up display for prompting display name to user -->
     <div class="modal" id="userModal" tabindex="-1" role="dialog">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title"></h5>
                 </div>
                 <div class="modal-body">
                     <form id="loginForm" class="inputForm">
                         <div class="form-group">
                             <input id="displayName" type="text" name="name" autocomplete="off" autofocus placeholder="Your display name" required>
                             <button id="submitName" type="button" class="btn btn-primary">Join</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
    </body>
</html>
